@media(max-width: 1300px){
	.container{
		width: 100%;
	}


}

@media(max-width: 910px){
	.pushmenu{
		display: block;
	}
	.pushmenu_active{
		right: -1100px;
		padding-right: 1000px;
		padding-bottom: 2000px;
	}
	.logo_head{
		display: block;
	}
	.menu-list hr{
		display: block;
	}
	.menu-list{
		background-color: white;
		display: block;
		position: fixed;
		width: 300px;
		left: 0;
		top: 0;
		bottom: 0;
		transition: 0.5s;
		transform: translateX(-100%);
	}
	.menu-list a{
		margin: 10px 0;
		display: block;
	}

	.menu_active{
		transform: translateX(0);
	}
	.content{
		transition: 0.5s;
	}
	.content_active{
		transform: translateX(300px);
	}
}


@media(max-width: 600px){
	.main_container{
		width: 100%;
	}
	.about_me{
		margin: 10px;
	}


	.to_order_text p{
		font-size: 6.3vw;
	}
	.to_order_text a{
		font-size: 5.3vw;
		padding: 6px 15px 12px 15px;
		margin-top: 25px;
	}

}


@media(min-width: 1300px){
	.to_order_text p{
		font-size: 4.3vw;
	}
	.to_order_text a{
		font-size: 3.3vw;
		padding: 6px 15px 12px 15px;
		margin-top: 25px;
	}
}

@media(min-width: 1600px){

	.to_order_text p{
		font-size: 70px;
	}
	.to_order_text a{
		font-size: 55px;
	}
}
