*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}
a, p{
	color: black;
}
ul{
	list-style: none;
}




.container{
	width: 80%;
	margin: auto;
	max-width: 1300px;
}


body{
	/*font-family: 'Oswald', sans-serif;*/
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
    font-weight: 400;
}

/*----HEADER----*/

.header_btn_menu{
	float: left;
	width: 70px;
	margin-top: 20px;
	margin-left: 5%;
	font-size: 33px;
	display: none;
}

icon-menu


nav{
	margin: 0 50px;
}

nav ul{
	float: left;
	width: 87%;
	display: flex;
	justify-content: space-around;
}
nav a{
	font-family: 'Oswald', sans-serif;
	font-size: 25px;
	display: block;
	padding: 20px 1.5vh;
}
.basket{
	display: block;
	float: right;
	position: relative;
	padding-right: 60px;
}
.basket:after{
	font-family: 'icomoon';
	content: "\f291";
	font-size: 25px;
	position: absolute;
	left: 50px;
	bottom: 18px;
}




/*----MAIN----*/

.main_container{
	width: 80%;
	margin: 0 auto;
}

/*-slider-*/
.slider_illustration{
	display: flex;
	width: 100%;
	margin: 0 auto;
	background-color: white;
}

.slider_illustration_inner{
	position: relative;
	width: 100%;
}
.slider_illustration_item{
	text-align: center;
	z-index: 0;
	height: 40vw;
	max-height: 500px;
}
.slider_illustration_item img{
	object-fit: contain;
	height: 100%;
	display: inline-block;
}

.slick-btn-ill{
	position: absolute;
	border: none;
	background-color: transparent;
	z-index: 1;
	height: 100%;
	top: 0;
	width: 50px;
}
.slick-prev-ill{
	left: 0;
}
.slick-next-ill{
	right: 0;
}

.icon-ill:before{
	font-size: 50px;
	color: #C4C4C4;

}


/*-top sales*/

.logo_main{
	display: block;
	width: 200px;
	margin: 50px auto 15px auto;
}


.top_sales{
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
	margin-bottom: 20px;
	text-align: center;
}


.top_goods{
	width: 100%;
	text-align: center;
}



/*-goods*/


.goods{
	display: inline-block;
	max-height: 230px;
	max-width: 170px;
	margin: 10px 0;
	padding: 7px;
	background-color: white;
}
.image_goods{
	height: 150px;
	width: 150px;
	margin: auto;
	background-color: #F0F0F0;
}
.image_goods img{
	object-fit: cover;
	height: 100%;
	width: 100%;
}
.text_goods{
	margin-left: 5%;
	text-align: left;
}
.text_goods a{
	line-height: 45px;
}
.text_goods hr{
	margin-left: 2px;
	width: 70%;
}
.text_goods p{
	line-height: 30px;
    font-size: 20px;
    color: #EA8383;
}



/*-to_order-*/


.to_order{
	position: relative;
	margin: 100px 0;
}

.to_order img{
	width: 100%;
}
.to_order_text{
	position: absolute;
	text-align: center;
	top: 0;
	right: 0;
	margin: 10% 15%;
}

.to_order_text p{
	font-family: 'Oswald', sans-serif;
	font-size: 5.3vw;
	color: white;
}
.to_order_text a{
	font-family: 'Oswald', sans-serif;
	display: inline-block;
	padding: 0.9vw 2.0vw 1.5vw 2.0vw;
	font-size: 4.3vw;
	color: white;
	background-color: #467D85;
	margin-top: 4vw;
}



/*-about_me*/


.about_me img{
	width: 30%;
	float: left;
}

.about_me h1{
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
}

.about_me p{
	text-align: justify;
}



/*----FOOTER----*/


footer{
	width: 100%;
	background-color: #C5E0E4;
	margin-top: 200px;
}

.container_footer{
	display: flex;
	justify-content: space-between;
	width: 80%;
	margin: 0 auto;
}

.container_footer div{
	width: 200px;
	margin: 30px 0;
}

.info_footer{
	min-width: 170px;
}
.contact_footer{
	min-width: 194px;
}

.title_footer{
	font-size: 20px;
}

.inf_footer{
	font-size: 18px;
	font-weight: 300;
}

.instagram:before{
    font-family: 'icomoon';
    content: "\e902";
    font-size: 40px;
}

.behance:before{
    font-family: 'icomoon';
    content: "\e904";
    font-size: 40px;
}

.icon_footer {
	display: flex;
	justify-content: space-around;
}