
.faq-title{
    margin-top: 190px;

    @media screen and (max-width: 700px) {
        margin-top: 130px;
    }    
}
.faq-about-me{
    width: 100%;
    background-color: white;

    &__wrapper{
        max-width: 900px;
        margin: 15px auto 0 auto;
        padding: 55px 10px 125px 10px;
        text-align: justify;

        @media screen and (max-width: 700px) {
            padding-bottom: 80px;
        }

        @media screen and (max-width: 500px) {
            padding-bottom: 50px;
        }

        img{
            max-width: 150px;
            float: left;
            margin-right: 3vw;

            @media screen and (max-width: 700px) {
                max-width: 100px;
            }
        }
    }
    &__subtitle{
        text-align: left;
    }
    &__subtext{
        margin-top: 125px;

        @media screen and (max-width: 700px) {
            margin-top: 80px;
        }

        @media screen and (max-width: 500px) {
            margin-top: 50px;
        }
    }
}

.faq-contact{
    width: 100%;
    margin-top: 60px;
    background-color: white;

    &__wrapper{
        max-width: 700px;
        margin: 0 auto;
        padding: 55px 10px;

        @media screen and (max-width: 700px) {
            max-width: 370px;
        }

        @media screen and (max-width: 500px) {
            max-width: 330px;
        }
    }

    p{
        font-size: 32px;
        display: inline;

        @media screen and (max-width: 700px) {
            font-size: 26px;
        }
    }

    &__portfolio{
        margin-bottom: 56px;

        @media screen and (max-width: 500px) {
            margin-bottom: 120px;
            display: block;
        }

        p{
            margin-right: 50px;
        }
    }


    &__title{
        margin-right: 20px;
        display: inline;
        @media screen and (max-width: 500px) {
            margin-right: 10px;
        }
    }

    &__icon{
        display: inline;
        position: relative;
        
        @media screen and (max-width: 500px) {
            margin-top: 70px;
            display: block;
        }

        .faq-contact__instagram{
            position: absolute;
            bottom: -50%;
    
        }
        .faq-contact__instagram:before{
            font-family: 'icomoon';
            content: "\e902";
            font-size: 50px;
        }
    
        .faq-contact__behance{
            position: absolute;
            bottom: -50%;
            margin-left: 100px;

            // @media screen and (max-width: 500px) {
            //     margin-left: 60px;
            // }
        }
        .faq-contact__behance:before{
            font-family: 'icomoon';
            content: "\e904";
            font-size: 50px;
        }
    }
}

.faq{
    max-width: 832px;
    margin: 170px auto 0 auto;

    @media screen and (max-width: 700px) {
        max-width: 600px;
        margin-top: 130px;
    }

    &__title{
        margin-left: 70px;
        text-align: left;
        margin-bottom: 45px;

        @media screen and (max-width: 700px) {
            margin-bottom: 30px;
        }
    }

    ul{
        list-style: decimal;
    
        li{
            margin-left:35px;
           
            @media screen and (max-width: 700px) {
                margin-left: 28px;
            }
        }
    }

    &__question{
        margin-bottom: 100px;

        @media screen and (max-width: 700px) {
            margin-bottom: 60px;
        }

        li{
            margin-bottom: 5px;
        }
    }

    &__answer{
        
        li{
            margin-bottom: 25px;

            @media screen and (max-width: 700px) {
                margin-bottom: 20px;
            }
        }
    }
}