
.footer{
	width: 100%;
	background-color: #C5E0E4;
	margin-top: 200px;

    &__container{
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin: 0 auto;

        @media screen and (max-width: 600px) {
            justify-content: space-around;
            width: 100%;
		    padding: 0 10px;
        }
    }
    
    
    &__info{
        width: 200px;
        margin: 30px 0;
        min-width: 110px;
    }
    
    
    &__social{
        width: 200px;
        margin: 30px 0;

        @media(max-width: 750px){
            display: none;
        }
    }
    &__icon {
        display: flex;
        justify-content: space-around;


        .instagram-footer{
            margin: 10px;
        }
        .instagram-footer:before{
            font-family: 'icomoon';
            content: "\e902";
            font-size: 40px;

            @media screen and (max-width: 700px) {
                font-size: 30px;
            }
        }

        .behance-footer{
            margin: 10px;
        }
        .behance-footer:before{
            font-family: 'icomoon';
            content: "\e904";
            font-size: 40px;

            @media screen and (max-width: 700px) {
                font-size: 30px;
            }
        }
    }
    &__icon-contact{
        justify-content: left;
    }

    &__contact{
        width: 200px;
        margin: 30px 0;
        min-width: 100px;
        float: right;
        height: 50px;
    }
    &__social-contact{
        display: none;
        flex-direction: column;
        
        @media(max-width: 750px){
            display: flex;
        }
    }

    .title-footer{
        font-size: 20px;
        @media screen and (max-width: 700px) {
            font-size: 16px;
        }
    }
    
    .inf-footer{
        font-size: 18px;
        font-weight: 300;

        @media screen and (max-width: 700px) {
            font-size: 14px;
        }
    }

    .inf-footer_mail{
        word-wrap: break-word;
    }
}