
header{
	width: 100%;
	display: flex;
	background-color: white;
}
.menu-list {
	z-index: 100;
	float: left;
	width: 100%;
	display: flex;
	justify-content: space-between;


	hr{
		display: none;
	}
}

.menu{
	width: 100%;
	padding: 0 50px;


	&__pushmenu{
		display: none;
		position: absolute;
		top: 20px;
		right: -100px;
		width: 70px;
		font-size: 33px;
		cursor: pointer;
	}
	&__pushmenu_active{
		opacity: 0;
	}

	&__logo{
		width: 60%;
		margin: 20px auto;
		display: none;
	}

	&__link{
		font-family: 'Oswald', sans-serif;
		font-size: 25px;
		display: block;
		padding: 20px 1.5vh;
	}

	&__basket{
		display: block;
		float: right;
		position: relative;
		padding: 20px 60px 20px 0;
	}
	&__basket:after{
		font-family: 'icomoon';
		content: "\f291";
		font-size: 25px;
		position: absolute;
		left: 30px;
		bottom: 20px;
	}

	&__text_basket{
		display: none;
	}
	
}


.slider-illustration{
	display: flex;
	width: 100%;
	margin: 0 auto;
	background-color: white;

    &__inner{
        position: relative;
        width: 100%;
    }
    &__item{
        text-align: center;
        z-index: 0;
        height: 40vw;
        max-height: 500px;
        overflow: hidden;
    }
    &__item img{
        object-fit: contain;
        height: 100%;
        display: inline-block;
    }
}

.slick-btn-ill{
	position: absolute;
	border: none;
	background-color: transparent;
	z-index: 1;
	height: 100%;
	top: 0;
	width: 50px;
}
.slick-prev-ill{
	left: 0;
}
.slick-next-ill{
	right: 0;
}

.icon-ill:before{
	font-size: 50px;
	color: #C4C4C4;

}