
header{
	width: 100%;
	display: flex;
	background-color: white;
}

.menu{
	width: 100%;
	padding: 0 50px;
	
	&__list {
		z-index: 100;
		float: left;
		width: 100%;
		display: flex;
		justify-content: space-between;
	
		@media(max-width: 950px){
			background-color: white;
			display: block;
			position: fixed;
			width: 250px;
			left: 0;
			top: 0;
			bottom: 0;
			transition: 0.5s;
			transform: translateX(-100%);
			border-right: 1px solid #C4C4C4 ;
		}
	
		hr{
			display: none;
			
			@media(max-width: 950px){
				display: block;
			}
		}
	}
	&__list_active{
		@media(max-width: 950px){
			transform: translateX(0);
		}
	}
	&__pushmenu{
		display: none;
		position: absolute;
		top: 20px;
		right: -100px;
		width: 70px;
		font-size: 33px;
		cursor: pointer;

		@media(max-width: 950px){
			display: block;
		}
	}
	&__pushmenu_active{
		opacity: 0;

		@media(max-width: 950px){
			top: 0;
			left: 250px;
			padding-right: 100vw;
			padding-bottom: 100vh;
		}
	}

	&__logo{
		width: 45%;
		margin: 20px auto;
		display: none;

		@media(max-width: 950px){
			display: block;
		}
	}

	&__link{
		font-family: 'Oswald', sans-serif;
		font-size: 25px;
		display: block;
		padding: 20px 1.5vh;

		@media(max-width: 950px){
			font-size: 20px;
			display: block;
		}
	}

	&__basket{
		display: block;
		float: right;
		position: relative;
		padding: 20px 60px 20px 0;
	}
	&__basket:after{
		font-family: 'icomoon';
		content: "\f291";
		font-size: 25px;
		position: absolute;
		left: 30px;
		bottom: 20px;
	}

	&__text-basket{
		display: none;
		@media(max-width: 950px){
			display: block;
		}
	}	

	&__wrapper-basket{
		@media(max-width: 950px){
			display: none;
		}
	}
	
}